<h1 mat-dialog-title appDirectiveTitle><strong>DESARROLLADOR:</strong> {{developer.firstName}} {{developer.lastName}}</h1>
<div mat-dialog-content>
    <div>
        <div class="row">
            <div class="col-6">
                <img [src]="developer.photo" alt="Desarrollador">
            </div>
            <div class="col-6">
                <p><strong>Nombre:</strong> {{ developer.firstName }}</p>
                <p><strong>Apellido:</strong> {{ developer.lastName }}</p>
                <p><strong>Fecha de Contrato:</strong> {{ developer.contractDate | date: 'dd/MM/YYYY' }}</p>
            </div>
        </div>
    </div>
    <div class="row  justify-content-md-center">
        <button mat-raised-button color="warn" mat-dialog-close> Cerrar</button>
    </div>
</div>
